<template>
    <button @click="remove">Delete</button>
</template>

<script>
    import {inject} from "vue";
    import {StoreSymbol} from "../store";

    export default {
        name: "DeleteButton",
        props: {
          index: Number
        },
        setup(props) {
            const store = inject(StoreSymbol, null);
            if (!store) return;

            function remove() {
                store.mutations.removeJokeDisplay(props.index)
            }

            return {
                remove
            }
        }
    };
</script>

<style scoped>
    button {
        background-color: lightcoral;
        margin-left: 10px;
    }
</style>