<template>
    <JokeProvider></JokeProvider>
    <div class="jokes">
        <Joke :index="index"
              :key="joke"
              v-for="(joke, index) in jokes">{{index}}</Joke>
    </div>
</template>

<script>
    import JokeProvider from "./JokeProvider";
    import Joke from "./Joke";
    import {inject} from "vue";
    import {StoreSymbol} from "../store";

    export default {
        name: 'Jokes',
        components: {Joke, JokeProvider},
        setup() {
            const store = inject(StoreSymbol, null)
            if (!store) return;

            return {
                jokes: store.state.jokeDisplays
            }
        }
    };
</script>

<style>
    .jokes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
</style>