<template>
    <div class="container">
        <input type="text" v-model="replacement">
        <DeleteButton :index="index"></DeleteButton>
        <div>{{text}}</div>
    </div>
</template>

<script>
    import jokeLogic from "../logic/jokeLogic";
    import DeleteButton from "./DeleteButton";

    export default {
        name: "Joke",
        components: {DeleteButton},
        props: {
          index: Number
        },
        setup() {
            return jokeLogic()
        }
    };
</script>

<style scoped>
    .container {
        margin-left: 10px;
    }
</style>