<template>
    <div class="wrapper">
        <button @click="getJoke">Update Joke</button>
        <button @click="addJoke">Add Joke Display</button>
    </div>
</template>

<script>

    import Joke from "./Joke";
    import jokeProviderLogic from "../logic/jokeProviderLogic";

    export default {
        name: "JokeProvider",
        components: {Joke},
        props: {
            identifier: Symbol
        },
        setup() {
            return jokeProviderLogic();
        }
    };
</script>

<style scoped>

    .wrapper {
        display: flex;
    }

    button {
        width: 100%;
        margin-bottom: 10px;
        margin-left: 10px;
    }

</style>