<template>
    <slot></slot>
</template>

<script>
    import {store, StoreSymbol} from "../store";
    import {provide} from "vue";

    export default {
        name: "Store",
        setup() {
            provide(StoreSymbol, store)
        }
    };
</script>