<template>
  <store>
    <Jokes></Jokes>
  </store>
</template>

<script>
import Jokes from "./components/Jokes";
import Store from "./components/Store";
export default {
  name: 'App',
  components: {Store, Jokes}
};
</script>

<style>

</style>
